@import "tailwindcss";


html, body {
    background: #050505;
    background-image: 
        radial-gradient(circle at 50% 0%, #1a1a1a 0%, #050505 75%),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
    color: #e5e5e5;
    overflow-x: hidden;
    font-family: 'Inter', 'sans-serif';
    cursor: none;
    min-height: 100vh;
}

::selection {
    background: #ffffff;
    color: #000000;
}

canvas {
    position: fixed;
    inset: 0;
    z-index: -1;
}



section, main {
    position: relative;
}